files:
  "/etc/httpd/conf.d/eb_custom_host.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        ServerName api.quequeue.app
        ServerAlias *.quequeue.app
        
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} =http
        RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
      </VirtualHost>

      <VirtualHost *:80>
        ServerName quequeue-arm-env.us-west-2.elasticbeanstalk.com
        
        RewriteEngine On
        RewriteCond %{HTTP:X-Forwarded-Proto} =http
        RewriteRule .* https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
      </VirtualHost>